autograd
cchardet
chardet
chumpy
easydict
gdown
git+https://github.com/ZhengyiLuo/smplx.git@master
git+https://github.com/mattloper/chumpy.git
gym
human_body_prior
hydra-core
imageio-ffmpeg
imgui-bundle
ipdb
joblib>=1.2.0
lxml
mujoco
numpy
numpy-stl
open3d
opencv-python==4.6.0.66
patchelf
pytorch_lightning
pyvirtualdisplay
pyvis
pyvista
pyvista-imgui
pyyaml
rerun-sdk
rl-games==1.1.4
scikit-image
scikit-learn
scipy
termcolor
torch
torchgeometry
tqdm 
vtk
wandb